bandit==1.5.1
certifi==2018.4.16
chardet==3.0.4
flake8==3.6.0
gitdb2==2.0.5
GitPython==2.1.11
idna==2.7
mccabe==0.6.1
pbr==5.1.0
pycodestyle==2.4.0
pyflakes==2.0.0
PyYAML==4.2b1
requests==2.20.0
six==1.11.0
slackclient==1.2.1
smmap2==2.0.5
stevedore==1.30.0
urllib3==1.24.2
vulture==1.0
websocket-client==0.48.0
